* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #003049;
    padding: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width:900px;
    margin: 2rem auto;
    background:linear-gradient(to right,white 25%, lightblue , rgb(123, 226, 221)  );
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    margin-bottom: 1rem;
    color: #003049;
    font-size: 2.5rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

main img {
    display: block;
    margin: 1rem 0;
    border-radius: 6px;
}

p {
    font-weight: 300;
    ;

}

footer {
    text-align: center;
    background-color: #003049;
    color: #ffffff;
    padding: 1rem;
    margin-top: 2rem;
}